@font-face {
  font-family: "NeueAlteGrotesk";
  src: url(~assets/fonts/NeueAlteGrotesk-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "NeueAlteGrotesk";
  src: url(~assets/fonts/NeueAlteGrotesk-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "NeueAlteGrotesk";
  src: url(~assets/fonts/NeueAlteGrotesk-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "NeueAlteGrotesk";
  src: url(~assets/fonts/NeueAlteGrotesk-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NeueAlteGrotesk";
  src: url(~assets/fonts/NeueAlteGrotesk-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NeueAlteGrotesk";
  src: url(~assets/fonts/NeueAlteGrotesk-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "NeueAlteGrotesk";
  src: url(~assets/fonts/NeueAlteGrotesk-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NeueAlteGrotesk";
  src: url(~assets/fonts/NeueAlteGrotesk-Black.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "NeueAlteGrotesk";
  src: url(~assets/fonts/NeueAlteGrotesk-Heavy.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	letter-spacing: 1.2px ;
	-webkit-font-smoothing: antialiased;
}

html, body {
  font-family: "NeueAlteGrotesk"; 
  background: #000;
  color: #fff;
  scroll-behavior: smooth;
  overflow: hidden;
}

section, .section {
  backface-visibility: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  right: 5px;
  position:absolute;
}
 
::-webkit-scrollbar-thumb {
  background: #FEF0FF;
  border-radius: 10px;
}

/*
* EFFECTS
*/

.arrow-effect {
  position: relative;
  width: 15px;
  height: 15px;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  transform: rotate(-45deg);
  animation: move .7s linear infinite;
  margin: 0 auto;
}
@keyframes move {
  0% {
      transform: rotate(-45deg) translateY(-15px);
  }
  100% {
      transform: rotate(-45deg) translateY(0px) translateX(-15px);
  }
}

.animate-scroller-effect {
  animation: mousescroll 2s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
}

@keyframes mousescroll {
  from { transform: translateY(0) }
  40%  { transform: translateY(150%) }
  60%  {  opacity: 1 }
  to   { transform: translateY(150%); opacity: 0; }
}

.typewriter-effect {
  overflow: hidden;
  border-right: .15em solid #14e76e;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #14e76e }
}

.neon-effect {
  margin: 0 auto;
  animation: neon-blink 5s infinite alternate;
  // background-image: linear-gradient(transparent 0%, transparent 50%, #000 53%, transparent 56%, transparent 100%);
  // background-repeat: repeat-y;
  // background-position: 0 100%;
  // background-size: 82% 50%;
  color: #fff;
  font-weight: normal;
  text-shadow: 0 0 0 transparent, 
    0 0 2px rgb(20, 231, 110),
    0 0 20px rgba(20, 231, 110, .1), 
    0 0 50px rgba(20, 231, 110, .1),
    0 0 50px rgba(20, 231, 110, .2), 
    0 0 70px rgba(20, 231, 110, .2),
    -50px -20px 20px rgba(20, 231, 110, .1);
  -webkit-filter: drop-shadow(0 0 0 transparent) 
    drop-shadow(0 0 1px rgb(20, 231, 110)) 
    drop-shadow(0 0 20px rgba(20, 231, 110, .1)) 
    drop-shadow(0 0 50px rgba(20, 231, 110, .1)) 
    drop-shadow(0 0 50px rgba(20, 231, 110, .2)) 
    drop-shadow(0 0 70px rgba(20, 231, 110, .2)) 
    drop-shadow( -50px -20px 20px rgba(20, 231, 110, .1));
  filter: drop-shadow(0 0 0 transparent) 
    drop-shadow(0 0 1px rgb(20, 231, 110)) 
    drop-shadow(0 0 20px rgba(20, 231, 110, .1)) 
    drop-shadow(0 0 50px rgba(20, 231, 110, .1)) 
    drop-shadow(0 0 50px rgba(20, 231, 110, .2)) 
    drop-shadow(0 0 70px rgba(20, 231, 110, .2)) 
    drop-shadow( -50px -20px 20px rgba(20, 231, 110, .1));
  text-transform: uppercase;
  white-space: nowrap;
}
@keyframes neon-blink {
  44% {
    opacity: 1;
  }
  45% {
    opacity: 0.7;
  }
  46% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}